* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(material.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 16px;
}

body, input, textarea, button, em, pre, pre:before, code:before {
    font-family: arial, sans-serif;
    text-size-adjust: 100%;
    font-weight: normal;
    font-style: normal;
    -webkit-text-size-adjust: none
}

input[type=button]{
    cursor: pointer;
}

body, input, textarea, button {
    color: #212121;
    line-height: 1.85;
    font-size: 1em;
    -webkit-appearance: none;
    border-radius: 0
}

em{
    font-weight: 600
}

div.clearfix {
    clear: both;
}

div#admin-left {
    width: 160px;
    padding: 24px;
    background: #232323;
    color: #eee;
    position: absolute;
    left: 0;
    height: 100%;
}

div#admin-right {
    background: #dff;
    height: 100%;
    width: calc(100% - 160px);
    position: absolute;
    left: 160px;
}

#admin-left li{
    cursor:pointer;
}

#search{
    padding: 16px;
    line-height:1;
}

input#keyword{
    padding: 5px;
}

input#searchsubmit{
    padding:5px 10px;
}

div#poetry-list, #poetry-single{
    padding: 16px;
}

.admin-list-item{
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#poetry-single input, #poetry-single textarea{
    border: 1px solid #ccc;
    padding:2px 8px;
    font-size: 14px;
}

#poetry-single div{
    margin-bottom: 12px;
}

.edit-title input{
    width: 100%;
}

.edit-author input{
    width: 30%;
    max-width: 300px;
    margin-right: 6px;
}

.edit-paragraphs textarea{
    width: 50%;
    min-width:300px;
    height:auto;
    min-height:10em;
    overflow: auto;
}