* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body, input, textarea, button, em, pre, pre:before, code:before {
    font-family: arial, sans-serif;
    text-size-adjust: 100%;
    font-weight: normal;
    font-style: normal;
    -webkit-text-size-adjust: none
}

body, input, textarea, button {
    color: #212121;
    line-height: 1.85;
    font-size: 1em;
    -webkit-appearance: none;
    border-radius: 0
}

div.clearfix {
    clear: both;
}

h1 {
    font-size: 1.1em;
    font-weight: 600;
    color: #000;
}

h2 {
    font-size: 1.1em;
    font-weight: 600;
    color: #000;
}

div#content {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

div.poetry-item {
    letter-spacing: .1em;
    /*writing-mode: vertical-rl;*/
    /*font-size: 1.2em;*/
    color: #333;
    padding: 1em 1.5em;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1em;
}

div#poetry-header {
    padding-bottom: 1em;
}

div#poetry-author {
    font-size: .8em;
    color: #666;
}

p.content-p {

}

div#header-wrap {
    background-color: #eee;
}

div#header {
    height: 6em;
    max-width: 800px;
    margin: auto;
}

div#search {
    padding: 2em;
}

input#keyword {
    padding: .1em .5em;
    border: 1px solid #ddd;
}

input#searchsubmit {
    padding: .1em .6em;
    letter-spacing: 3px;
    background: #ddd;
}

input#searchsubmit:hover {
    cursor: pointer;
}

div#nav-bar {
    padding: 1em;
}

div.pre-item, div.next-item {
    width: 6em;
    float: left;
}

div.next-item {
    text-align: right;
}

div.pre-item:hover, div.next-item:hover {
    cursor: pointer;
}

div#nav-bar a {
    display: block;
    width: 100%;
}

div.search-item {
    margin-bottom: 1em;
    padding: 1em 1.5em;
    border: 1px solid #ccc;
    border-radius: 8px;
}

span.search-item-title {
    font-weight: 600;
}

span.search-item-author {
    font-size: .9em;
    color: #666;
    display: inline-block;
    padding: 0 .3em;
}

div.search-item-content {
    font-size: .85em;
}

span.search-keyword {
    color: #f00;
}