<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xinyo.dao.PoetryDao" >
    <resultMap id="BaseResultMap" type="org.xinyo.domain.Poetry">
        <result column="id" property="id" />
        <result column="author" property="author" />
        <result column="title" property="title" />
        <result column="paragraphs" property="paragraphs" />
        <result column="strains" property="strains" />
        <result column="dynasty" property="dynasty" />
        <result column="style" property="style" />
        <result column="author_id" property="authorId" />
    </resultMap>

    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM poetry WHERE id = #{id}
    </select>

    <select id="findByIdAndLanguage" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <if test='language == "0"'>
            id, author, title, paragraphs, author_id
        </if>
        <if test='language == "1"'>
            id, author_sp as author, title_sp as title, paragraphs_sp as paragraphs, author_id
        </if>
        FROM poetry WHERE id = #{id}
    </select>

    <select id="findPoetryList" resultMap="BaseResultMap">
        SELECT * FROM poetry LIMIT 10
    </select>

    <select id="findPoetryByKeyword" parameterType="map" resultMap="BaseResultMap">
        SELECT * from poetry where MATCH(author_sp,title_sp,paragraphs_sp)
        AGAINST (CONCAT('*',#{keyword},'*') in boolean mode)  LIMIT #{page},10;
    </select>

    <select id="findByKeywordAndLanguage" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <if test='language == "0"'>
            id, author, title, paragraphs
        </if>
        <if test='language == "1"'>
            id, author_sp as author, title_sp as title, paragraphs_sp as paragraphs
        </if>
         from poetry where MATCH(author_sp,title_sp,paragraphs_sp)
        AGAINST (CONCAT('*',#{keyword},'*') in boolean mode) ORDER BY id LIMIT #{page},10;
    </select>

    <select id="findTop100IdByKeyword" parameterType="map" resultType="int">
        SELECT id from poetry where MATCH(author_sp,title_sp,paragraphs_sp)
        AGAINST (CONCAT('*',#{keyword},'*') in boolean mode) ORDER BY id LIMIT 100;
    </select>

    <select id="findSpByIds" parameterType="list" resultMap="BaseResultMap">
        SELECT id, author_sp as author, title_sp as title, paragraphs_sp as paragraphs from poetry where id IN
        <foreach  collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findTrByIds" parameterType="list" resultMap="BaseResultMap">
        SELECT id, author, title, paragraphs as paragraphs from poetry where id IN
        <foreach  collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="countTotalPoetryByKeyword" parameterType="map" resultType="int">
        SELECT count(*) from poetry where MATCH(author_sp,title_sp,paragraphs_sp)
        AGAINST (CONCAT('*',#{keyword},'*') in boolean mode);
    </select>
</mapper>