<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xinyo.dao.ShangXiDao" >
    <resultMap id="BaseResultMap" type="org.xinyo.domain.ShangXi">
        <id column="id" property="id" />
        <result column="author" property="author" />
        <result column="title" property="title" />
        <result column="poetry_id" property="poetryId" />

    </resultMap>
    <insert id="insert" parameterType="org.xinyo.domain.ShangXi">
        insert into shang_xi (poetry_id, author, content) values
        (#{poetryId}, #{author}, #{content})
    </insert>


</mapper>